// Global site styles

// Import initial Bulma variables
@import "~bulma/sass/utilities/initial-variables";

// Import own custom styles
@import "./global-variables.scss";
@import "../styles/typography.css";

// Initial Bulma variables
$orange: #f47b60;
$orange-selection: #edb4a6;

$family-sans-serif: "LexendDeca Regular", "Segoe UI", Roboto, Verdana,
  "Helvetica Neue", sans-serif;

// Derived Bulma variables
$primary: $orange;

$navbar-background-color: $primary;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: $orange-selection;
$footer-background-color: $primary;

// Import rest of Bulma
@import "~bulma/bulma.sass";

// Site styles

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
}

.navbar .navbar-menu {
  text-align: center;
}

.navbar-burger {
  &:hover {
    background-color: $orange-selection;
  }
}

.footer h3 {
  color: $white;
}
