// Universal site styles

@import "./global-variables.scss";
@import "../styles/typography.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: $secondaryColor;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: "LexendDeca Regular", "Segoe UI", Roboto, Verdana,
    "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $primaryColor;
}

a {
  color: $primaryColor;
  text-decoration: none;
}
